.body{padding:0; margin:0; background: #f8f9fc;} 

.divTopo{background: #00500f; width: 100%; height: 50px;}
.divTopo img{position: absolute; top: 5px; left: 40px; width: 50px; height: 39px; margin: 0px 0px 0px 0px;}
.nomeUniversidade{color: #ffffff; margin: 0px; font-size:160%; font-family: arial; position: absolute; top: 12px; left: 90px;}


.rodape{clear: both; border-top: 1px solid #8c8c8c; position:absolute; bottom:0; width:100%;}
.rodape p{text-align: center; margin: 2px; color: #626262;}


.listaprojeto li{}
.listaprojeto li:hover{background: #b1c7e9; color: #ffffff;}

.div{color: #656565;}
.div:hover{color: #000000;}

.result{border-bottom: 1px solid #8c8c8c; }
.result:hover{background: #b1c7e9;}

li.menu{border: 1px solid #eeeeee; color: #000000;}
li.menu:hover{background: #007fff; border: 1px solid #003eff; color: #ffffff;}

li.menu div{color: #232323;}
li.menu div:hover{color: #ffffff;}

div.divtopo3{border: none; width: 100%; height: 40px; background: #e9e9e9; margin: 0px auto 0px auto; padding: 5px 0px 0px 0px; text-align: left;}
div.divtopo3 p{font-size: 120%; margin: 0px 0px 0px 20px; float: left;}
div.divtopo3 button{float: right; margin: -25px 10px 0px 0px;}

div.divcorpo3_detalhes{border: 1px solid #dddddd; width: 90%; min-height: 32px; background: #e9e9e9; margin: 5px auto 0px auto; padding: 5px 0px 0px 0px; text-align: left; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px;}
div.divcorpo3_detalhes label{margin: 0px 0px 0px 15px; font-weight: bold;}
div.divcorpo3_detalhes p{margin: 0px 10px 10px 10px; padding: 2px 5px 5px 5px; background: #ffffff; -moz-border-radius:5px; -webkit-border-radius:5px;}

div.divcorpo3_membros{border: 1px solid #dddddd; width: 90%; min-height: 32px; background: #e9e9e9; margin: 5px auto 20px auto; padding: 5px 0px 0px 0px; text-align: left; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px;}

.bt-login{-moz-border-radius:4px; -webkit-border-radius:4px; color: #626262; width: 80px; height: 26px; border: 1px solid #a7a7a7; margin: 7px 0px 0px 0px;}
.bt-login:hover{background: #d6d6d6; color: #424242; border: 1px solid #8f8f8f;}

div.divtopo2{width: 90%; height: 40px; min-width: 700px; border: none; margin: 10px auto 0px auto; padding: 10px 0px 0px 0px; background: #eeeeee;-moz-border-radius:5px; -webkit-border-radius:5px; text-align: left;}
div.divtopo2 p{font-size: 150%; margin: 0px 0px 0px 20px}
div.divtopo2 button{float: right; margin: -30px 10px 0px 0px;}


.topoMenu{color: #ffffff; text-decoration:none; float: right; padding: 0px 15px 0px 15px; height: 50px; font-size:110%; background:; text-align: center;}
.topoMenu:hover{background: #003a0b;}
.topoMenu:active{background: #002708;}

.topoMenu p{ margin: 13px 0px 0px 0px;} 

.divLeftmenuLat{float: left; width: 190px; padding: 20px 0px 20px 0px;}

.menuLat {list-style: none; margin: 0px 0px 0px -30px; background: #ededed; -moz-border-radius:5px; -webkit-border-radius:5px;}
.menuLat li a{text-decoration:none; color: #6c6c6c; font-size: 110%;}
.menuLat li a p{width: 180px; text-align: center; margin: 0px; padding: 6px 0px 7px 0px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.menuLat li a p:hover{width: 180px; background: #3c7747; text-align: center; margin: 0px; color: #ffffff; -moz-border-radius:4px; -webkit-border-radius:4px;}

.nomeUniversidade{color: #ffffff; margin: 0px; font-size:160%; font-family: arial; position: absolute; top: 12px; left: 90px;}
 

.divPesquisar{position: absolute; top: 54px; right: 10px;}

.menuInstituicao{list-style:none; float:left; padding: 7px 12px 7px 12px; margin: 0px; background: #8c8c8c; -moz-border-radius:4px; -webkit-border-radius:4px;}
.menuInstituicao li{position:relative; float:left; }
.menuInstituicao li a{ color:#fff; text-decoration:none; padding:5px 10px; display:block; transition: background 0.3s, color 0.3s, border 0.5s; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #8c8c8c;}
.menuInstituicao li a:hover{background:#606060; border:1px solid #606060; color:#fff;  transition: background 0s, color 0s, border 0s;}
.menuInstituicao li a:active{color:#fff;  }

.menuInstituicao li  ul{position:absolute;  top:30px; left:0; background:#767676; display:none; padding: 0px; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-box-shadow:1px 3px 2px 0 #131313; -webkit-box-shadow:1px 3px 3px 0 #131313; border-top: 1px solid #8c8c8c;}
.menuInstituicao li:hover ul, .menuInstituicao li.over ul{display:block;}
.menuInstituicao li ul li{display:block; width:150px;}

.divNovoCurso{border-bottom: 2px solid #a7a7a7; margin: 2px auto 0px auto; background: #ebebeb; width: 500px; height: 240px; -moz-border-radius:6px; -webkit-border-radius:6px;}

.divLeftNovoCurso{float: left; text-align: right; margin: 15px 0px 0px 80px;}
.divLeftNovoCurso p{color: #4f4f4f;}

.divRightNovoCurso{float: left; text-align: left; right; margin: 15px 0px 0px 0px;}
.divRightNovoCurso p{margin: 7px 0px 7px 4px;}
.divRightNovoCurso p input{-moz-border-radius:3px; -webkit-border-radius:3px; border: 1px solid #a7a7a7; height: 22px;}

.hrefAlterar{color: #0000ff; text-decoration: none;}
.hrefAlterar:hover{color: #0000ff; text-decoration: underline;}
.hrefAlterar:active{color: #000091; text-decoration: underline;}

.tabela2{border-spacing: 0px;}
.tabela-new-vend{height:30px;}
.tabela-new-vend th{border: 1px solid #000000;}
.tabela-new-vend td{border:1px solid #000000;}

.tabela{border-spacing: 1px;}

.tabela-new-venda{height:40px;}

.tabela-new-venda th{background: #26b681; color: #ffffff;}

.tabela-new-venda2 {background: #ededed;}
.tabela-new-venda22 {background: #f6f6f6;}
.tabela-new-venda2:hover{background: #c6f4e4;}
.tabela-new-venda22:hover{background: #c6f4e4;}

.tabela-new-venda3 td{border-bottom:1px solid #dbdbdb; border-right:1px solid #dbdbdb;}

.hm{position: absolute; top: 0px; right: -18px; text-decoration:none; padding: 0px 4px 0px 4px; color: #000000; background: #f4f4f4;}
.hm:hover{position: absolute; top: 0px; right: -18px; text-decoration:none; padding: 0px 4px 0px 4px; color: #ffffff; background: #28953c;}

.hme{float: right; position: absolute; height: 11px; width: 11px; padding: 0px 0px 0px 0px; text-decoration:none; color: #000000; background: #f4f4f4; -moz-border-radius:12px; -webkit-border-radius:12px; margin: -3px 0px 0px 0px;}
.hme:hover{float: right; position: absolute; height: 11px; width: 11px; padding: 0px 0px 0px 0px; text-decoration:none; color: #ffffff; background: #f12b2b; -moz-border-radius:12px; -webkit-border-radius:12px; margin: -3px 0px 0px 0px;}

.hme2{}


.bt-remover {width: 22px; height: 22px; -moz-border-radius:20px;display: block; -webkit-border-radius:3px; background: #e6e6e6;}
.bt-remover:hover{background-image: url(../img/bt-remover.png); display: block;}

#image span.alternativo{display:none; width: 24px; height: 22px;}
#image:hover span.alternativo{display:block; background: #e21b1b; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image span.normal{display:block; background: #f4f4f4; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image:hover span.normal{display:none; width: 24px; height: 22px;}

#image22 span.alternativo{display:none; width: 24px; height: 22px;}
#image22:hover span.alternativo{display:block; background: #959595; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image22 span.normal{display:block; background: #f4f4f4; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image22:hover span.normal{display:none; width: 24px; height: 22px;}


#image2 span.alternativo{display:none; width: 24px; height: 22px;}
#image2:hover span.alternativo{display:block; background: #8e8e8e; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image2 span.normal{display:block; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image2:hover span.normal{display:none; width: 24px; height: 22px;}


#image3 span.alternativo{display:none; width: 24px; height: 22px;}
#image3:hover span.alternativo{display:block; background: #e21b1b; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image3 span.normal{display:block; background: ; width: 24px; height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#image3:hover span.normal{display:none; width: 24px; height: 22px;}

.menssagem{margin: -10px 0px 0px 5px; color: #ee1010;}

/*DIALOG JQUERY*/
.popupJquery input.text { margin-bottom:12px; width:95%; padding: .4em; }
.popupJquery { padding:0; border:0; margin-top:25px; }
.validateTips{margin: 0px 0px 0px 0px;}
/* FIM DIALOG JQUERY*/
  