.body{padding:0; margin:0;} 

.divTopo{background: #00500f; width: 100%; height: 50px;}
.divTopo img{position: absolute; top: 5px; left: 40px; width: 50px; height: 39px; margin: 0px 0px 0px 0px;}
.divTopo p{color: #ffffff; margin: 0px; font-size:160%; font-family: arial; position: absolute; top: 12px; left: 90px;}

.campoLogin{margin: 150px auto 0px auto; width: 360px; background: #e9e9e9; text-align: center; padding: 20px 0px 18px 0px; -moz-border-radius:7px; -webkit-border-radius:7px;}

.pCampoLogin{margin: 8px 0px 5px 84px; text-align: left; color: #626262;}

.inputLogin{margin: 0px 0px 0px 0px; height: 30px; width: 200px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.divRecuperar{margin: 10px auto 0px auto; width: 360px; text-align: center;}
.divRecuperar a{}

.rodape{clear: both; border-top: 1px solid #8c8c8c; position:absolute; bottom:0; width:100%;}
.rodape p{text-align: center; margin: 2px; color: #626262;}