body{background:#cbcbcb;}

#frm-msg {
	width: 500px;
	float: right;
	padding: 3px 0px 3px 0px;
	background: #d7d7d7;
	-webkit-border-radius: 0px 0px 5px 5px; 
	-moz-border-radius: 0px 0px 5px 5px;
}
#frm-msg  fieldset{
	border:0;
	padding: 0px;
}
#frm-msg label{
	display:block;
	float:left;
}
#frm-msg label span{
	display:block;
	color:#333;
}
.texto{
	width:430px;
	height: 26px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:auto;
}

.confirmar{transition: background .4s; color: #ffffff; background: #79e47b; border: none; width: 60px; height: 30px;  margin: 0px 0px 0px 0px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.confirmar:hover{background: #47d64b; text-decoration: none;}
.confirmar:active{}

#frm-msg #submit{
	padding:0px 0px 0px 0px;
	float:right;
	margin:0px 0px 0p 0px;
}

#painel {
	width: 500px;
	height: 75%;
	overflow: scroll;
	background: #fff;
	float: right;
	margin: 70px 0px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px;
}
#painel p.outros{
	border-bottom:1px solid #e5e5e5;
	background: #d9d9d9;
	-webkit-border-radius: 0px 5px 5px 5px; 
	-moz-border-radius: 0px 5px 5px 5px;
	max-width: 400px;
	color:#4b4b4b;
	padding: 5px 7px 5px 7px;
	margin: 3px;
	float: left;
	text-align: left;
}

#painel p.logado{
	border-bottom:1px solid #e5e5e5;
	background: #ade9ae;
	-webkit-border-radius: 5px 0px 5px 5px; 
	-moz-border-radius: 5px 0px 5px 5px;
	max-width: 400px;
	color:#4b4b4b;
	padding: 5px 7px 5px 7px;
	margin: 3px;
	float: right;
	text-align: right;
}