.ul_chat{
	list-style-type:none;
	padding: 0px 0px 0px 10px;
	}

#users_online{
	position:absolute;
	top: 50px;
	right: 0px;
	width: 300px;
	height: 92%;
	background:linear-gradient(to right, #ccc, #fff 30%);
	border-left:1px solid #999;
}
#users_online ul li{
	float:left;
	width:300px;
	border:1px solid transparent;
	padding:0px 0px 0px 0px;
	margin-left:-11px;
	border-right:0;
	position:relative;
}
#users_online ul li:hover{
	border-color:#999;
	background:linear-gradient(to right, #ccc, #fff 60%);

}
#users_online ul li a{
	text-decoration:none;
	float:left;
	width:70%;
	font:16px Tahoma, arial, helvetica;
	color:#666;
	line-height:40px;
}
.nomeSmall{height: 50px;width: 300px;}

.imgSmall{
	float:left;
	width:44px;
	height:44px;
	overflow:hidden;
	border-radius:50%;
	margin: 3px 5px 0px 5px;
}
.imgSmall img{width:100%; height:100%;}
.mensagens ul li .imgSmall{
	position:absolute;
	width:35px;
	height:35px;
	left:-45px;
	margin-top:-8px;
	margin-bottom:10px;

}

.status{
	position:absolute;
	right:8px;
	top:50%;
	width:12px;
	height:12px;
	margin-top:-6px;
	border-radius:50%;
	background:#666;

}
.status.off{background:#ccc;}
.status.on{background:#090;}