#div_painel {
	width: 500px;
	height: 500px;
	overflow: auto;
	background: #f1f1f1;
	margin: 10px auto 10px auto;
	-webkit-border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px;
}
#div_painel p.outros{
	border-bottom:1px solid #e5e5e5;
	background: #d9d9d9;
	-webkit-border-radius: 0px 5px 5px 5px; 
	-moz-border-radius: 0px 5px 5px 5px;
	max-width: 400px;
	color:#4b4b4b;
	padding: 5px 7px 5px 7px;
	margin: 3px;
	float: left;
	text-align: left;
}

#div_painel p.logado{
	border-bottom:1px solid #e5e5e5;
	background: #ade9ae;
	-webkit-border-radius: 5px 0px 5px 5px; 
	-moz-border-radius: 5px 0px 5px 5px;
	max-width: 400px;
	color:#4b4b4b;
	padding: 5px 7px 5px 7px;
	margin: 3px;
	float: right;
	text-align: right;
}

.div_chat_grupo_logado{
	background: #d6ffc5;
	max-width: 300px;
	float: right;
	border-radius: 5px 0px 5px 5px;
	margin: 0px 5px 0px 0px;
}

.div_chat_grupo_logado p.usuario{
	font-size: 75%;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px;	
}

.div_chat_grupo_logado p.mensagem{
	margin: 0px 5px 0px 5px;
    color: #000000;
}

.div_chat_grupo_logado p.data-hora{
	font-size: 70%;
	text-align: right;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 5px 5px;
	color: #ababab;
}


.div_chat_grupo_outros{
	background: #ffffff;
	max-width: 300px;
	float: left;
	border-radius: 0px 5px 5px 5px;
	margin: 0px 0px 0px 5px;
}

.div_chat_grupo_outros p.usuario{
	font-size: 75%;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 5px 0px 0px;
    color: #000000;	
}

.div_chat_grupo_outros p.mensagem{
	margin: 0px 5px 0px 5px;
    color: #000000;
}

.div_chat_grupo_outros p.data-hora{
	font-size: 70%;
	text-align: right;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 5px 5px;
	color: #ababab;
}